:root{
    /* Main */ 
    --font-size: 17px;
    --font-family: Arial, Helvetica, sans-serif;

    /* Navbar */
    --navbar-color:white;
    --navbar-background-color:#021D47;
    --navbar-signUp-background-color:#369dc5;
    --navbar-signUp-background-color-hover:#8cdeff;
    /* Slider */
    --slider-color:white;
    /* News */
    --news-color:black;
    --news-background-color:white;
    --news-button-color:white;
    --news-button-background-color:#40a3c4;
    --news-button-background-color-hover:#72bbd3;
    /* Photos? */
    --photos-color:black;
    --photos-background-color:white;
    /* Footer */
    --footer-color:black;
    --footer-background-color:white;
    /* Article */
    --article-color:black;
    --article-background-color:white;
    --article-background-background-color:white;
    /* Comments */
    --comments-color:black;
    --comments-background-color:#73858b;
    --comments-button-color:white;
    --comments-button-background-color:#0084ff;
    --comments-textarea-color:black;
    --comments-textarea-background-color:white;
    --comments-username-color:#0084ff;
    /* Gallery */
    --gallery-color:black;
    --gallery-background-color:white;
}

* {
    font-size: var(--font-size);
    font-family: var(--font-family);
}
.bg-darkBlue{
    background-color: #020e20;
}
.bg-lightBlue{
    background-color: #005383;
}
.bg-black{
    background-color: black;
}
.bg-dark{
    background-color: #333333;
}
.bg-yellow{
    background-color: #fbff00 !important;
    transition: 300ms;
}
.bg-yellow:hover{
    background-color: #fdff8f;
}
.bg-lightCyan{
    background-color: #8cdeff;
}
.bg-darkCyan{
    background-color: #00576d;
}
.bg-white{
    background-color: white;
}
.bg-indygo{
    background-color: #261255 !important;
    transition: 300ms;
}
.bg-indygo:hover{
    background-color: #3d227c !important;
    
}
.bg-cyan{
    background-color: #97ddf5 !important;
    transition: 300ms;
}
.bg-cyan:hover{
    background-color: #369dc5 !important;
}
.bg-lightGray{
    background-color: #5f5f5f !important;
}
.bg-darkerGray{
    background-color: #2c2c2c !important;
}
.t-white{
    color: white !important;
}
.t-black{
    color: black !important;
}
.t-yellow{
    color: #fbff00 !important;
}


/* Navbar */
.navbarColors {
    background:var(--navbar-background-color);
    color:var(--navbar-color);
    
}  
.signUp {
    background-color: var(--navbar-signUp-background-color) !important;
    transition: 300ms;
}
.signUp:hover {
    background-color: var(--navbar-signUp-background-color-hover) !important;
}
/* Slider */
.sliderColors{
    color:var(--slider-color);
    
}
/* News */
.newsColors{
    background: var(--news-background-color);
    color: var(--news-color);
}
.readArticle {
    color: var(--news-button-color) !important;
    background-color: var(--news-button-background-color) !important;
    transition: 300ms !important;
}
.readArticle:hover {
    color: var(--news-button-color) !important;
    background-color: var(--news-button-background-color-hover) !important;
}
/* Photos */
.photosColors{
    background: var(--photos-background-color);
    color: var(--photos-color);
}
/* Footer */
.footerColors{
    background: var(--footer-background-color);
    color: var(--footer-color);
}
/* Article */
.marginTop{
    background: var(--article-background-background-color);
}
.article{
    font-size: 20px;
    background: var(--article-background-color);
    color:var(--article-color) ;
}
.date{
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
}
.mainHeadline{
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}
.headline{
    font-size: 30px;
    font-weight: bold;
}
.by{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 10px;
}
.commentSecton{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--comments-background-color);
    color: var(--comments-color);
    width: 100%;
    padding:20px;
    text-align: left;
}
.in{
    display: flex;
    flex-direction: column;
    width: 40%;   
}
.c{
    float: left;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}
/* Comments */
.commentTextarea{
    background: var(--comments-textarea-background-color);
    color: var(--comments-textarea-color);
}
.commentButton{
    padding: 10px !important;
    margin-top: 10px;
    background: var(--comments-button-background-color) !important;
    border: var(--comments-button-background-color) !important;
    border-radius: 7px !important;
    color: var(--comments-button-color) !important;
}
.comment{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 0px;
    background:var(--comments-textarea-background-color);
    border-radius: 5px;
}
.username{
    font-size: 20px;
    color: var(--comments-username-color);
}
.commentDate{
    font-size: 10px;
    color: gray;
}
/* Gallery */

/* Login */
.hover:hover {
    animation: spin 0.8s ease-in-out infinite;
    animation-iteration-count: 1;
}
@keyframes spin { 
    0% {
        transform:rotate(0deg); 
    }
    100% { 
        transform:rotate(360deg); 
    } 
}
.gradient {
    height: 100vh;
    background: linear-gradient(90deg, rgba(98,42,42,1) 0%, rgba(111,72,111,1) 29%, rgba(93,73,101,1) 55%, rgba(8,48,68,1) 100%);
}


a,
a:hover,
a:focus {
    color: inherit ;
    text-decoration: none !important;
    transition: all 0.3s;
	
}




.goBack {
    top: 50px;
    left: 50px;
    width: 80px;
    height: 40px;
}

.gradient {
    height: 100vh;
    background: linear-gradient(90deg, rgba(98,42,42,1) 0%, rgba(111,72,111,1) 29%, rgba(93,73,101,1) 55%, rgba(8,48,68,1) 100%);
}



.settingsNavText{
	color: inherit !important;
}

.settingsNavText:hover{
	color: #cf8c85 !important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #cf8c85;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    padding-bottom: 15px;
    background: #c27167;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #00557c;
    background: #fff;
}

#content {
    width: 100%;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    min-height: 100vh;
    transition: all 0.3s;
}

.goBack {
    top: 50px;
    left: 50px;
    width: 80px;
    height: 40px;
}

.gradient {
    height: 100vh;
    background: linear-gradient(90deg, rgba(98,42,42,1) 0%, rgba(111,72,111,1) 29%, rgba(93,73,101,1) 55%, rgba(8,48,68,1) 100%);
}

.preColorBtn{
    height: 25px;
    margin-right: 5px;
    margin-top: -10px;
    /* xd, musiałem usunąć i zobaczyć */
    border: 0px;
    background-color: white;
    /* ----- */
}

.subColorBtn{
    width: 25px;
    height: 25px;
}

.colorBtn{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: -10px;
}

.colorBox{
    display: flex;
    flex-direction: row;
}

.box{
    margin-right: 10px;
    padding: 10px;
    border: 1px solid black;
}

.fontBox{
    width: 250px;
    background-color:white ;
}

.text {
    font-size: 22px;
}

.radioLabel {
    font-size: 20px;
    margin-left: 5px;
}
